/**
 * Default Stylesheet (for all media)
 * (c) Y7 Group e.K. Darmstadt
 * Alle Rechte vorbehalten.
 */


html, div, span, object, iframe, footer, article, header, aside,
section, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, img {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

@font-face { 
font-family: "Oswald Bold"; 
font-weight: bold;
src: url("../fonts/Oswald-Bold.ttf"); 
}

@font-face { 
font-family: "Oswald"; 
font-weight: normal;
src: url("../fonts/Oswald-Regular.ttf"); 
}

@font-face { 
font-family: "Oswald Light";
font-weight: 200;
src: url("../fonts/Oswald-Light.ttf"); 
}

article, header, aside, section {
	display: block;
}

div#footer a {
	color: white;
	text-decoration: none;
}

div#footer a:hover {
	color: #ccc;
}


/** HTML Defaults
 * 	
 */

div#preloader {
	z-index: 250;
	display: block;
	width: 100%;
	height: 100vh; 
	position: absolute;
	animate: all 0.5s;
	
	background: #fefefe url("../images/preview.gif") no-repeat fixed center center;
}

.opacityzero {
	
	opacity: 0;
}
.center {
	text-align: center !important;
}

.onekpx {
	width: 994px !important;
}

h1 {
	font-size: 2.4em;
	color: #e3000b;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	font-family: "Oswald Bold", Arial, sans-serif;
	text-align: center;
}

h2 {
	font-size: 2.0em;
	color: #e3000b;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
	margin: 35px 0 10px 0;
	width: 100%;
	font-family: "Oswald Bold", Arial, sans-serif;
}

#main h2:first-child {
	margin: 0px 0 10px 0 !important;
}	

#bottom h2:first-child {
	margin: 19px 0 10px 0 !important;
}

h3 {
	font-size: 1.6em;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	font-family: "Oswald Bold", Arial, sans-serif;
}

h4 {
	font-size: 1.3em;
	font-family: "Oswald", Arial, sans-serif;
}

article p {
	text-align: justifyx;
}

.justify {
    /*  
    font-size: 1.0725em !important; */
  
	text-align: justify !important;
}
.align-center {
	text-align:center;	
}

h6 {
/** Hidden fÃ¼r Article **/
	visibility: hidden;
}

html {
	/*overflow-x: hidden !important;	*/
}

body {
	
	font-family: "Oswald Light", Arial, sans-serif;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background: rgba(0,0,0,0.0);	
}

p {
	font-size: 1.0725em;
	margin: 0 0 1em 0;
}

p.info {
	position: absolute;
	right: 0; top: 0;
	opacity: 0.2;
}

div.sc_container {
	display: block;
	margin: 0; padding: 0;
}

a {
	color: #e3000b;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: #b00009;
}

div#nav a {
	text-decoration:none;
	color: black;
}

li#current a {
	color: #e3000b;
}

#nav a:hover {
	color: #B00009;
} 
header {
	position:absolute;
	width:100%;	
}
.content {
	position:relative;
	z-index:1000;
	
}

#iframemeldung {
	display: none;
}

#slider .contentwrapper .csc-default {
	width:100%;
	box-sizing:border-box;
	padding:0 20px;
}	
#slider-imgs {
	position:relative;
	width:100%;
	height:100%;
	top:0;
	left:0;	
}
.sliderimg {
	position:absolute;
	top:0;	
}
.sliderimg, .sliderimg .csc-textpic, .bx-wrapper, .sliderimg .bx-viewport {
	width:100%;
	height:100% !important;	
}
#slider-imgs .sliderimg  .csc-textpic-imagewrap {
	width:100%;
	height:100%;	
}
#slider-imgs .sliderimg .csc-textpic-imagerow {
	overflow:hidden;
	height:100vh;
}
div#slider {
	z-index:60;	
}
.bx-controls {
	display:none;	
}

.bgwidth { width: 100% !important; position:absolute; height:auto !important;}
.bgheight { 
	height: 100% !important; 
	position:absolute;
	width:auto !important;
}





.col-2 {
	width:370px;
	float:left;
	box-sizing:border-box;
	margin:0 125px 40px 0;
	text-align:left;
	position:relative;	
}
.col-2.last {
	margin-right:0;	
}
.col-2 div.button-team {
	position:absolute;
	top:130px;
	right:45px;	
}
.col-2 .csc-textpic-imagewrap {
	margin-bottom:20px;	
}
.layout-110 .csc-textpic-text p{
	text-align:justify;
}

#c64:after {
	content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
#c64 > div.csc-default {
	display:inline-block;
	width:220px;	
	margin-right:100px;
	position:relative;
	margin-bottom:20px;
	float:left;
}
#c64 > div.csc-default p {
	text-align:justify;	
}
#c64 > div.csc-default:last-child {
	margin-right:0;	
}
#c64 > div.csc-default h3.csc-firstHeader {
	text-transform:none;
	font-size:1em;
	font-family:"Oswald Light", Arial, sans-serif;
	margin-left:20px;
	position:absolute;
	top:145px;
}
#c64 > div.csc-default h3.csc-firstHeader a{
	padding: 8px 10px 2px 10px;
	margin: 0;
	height: 31px;
	width: 202px;
	background-image: url(../images/news_button.png);
	text-align: center;
	color: #fff;
	font-size: 1.1em;	
	display:block;
}
#c64 > div.csc-default h3.csc-firstHeader a:hover {
	background: url(../images/news_hover.png) no-repeat center center;
}
#c64 > div.csc-default .csc-textpic-imagewrap {
	display:inline-block;	
	margin-bottom:30px;
	height:180px;
}
#c64 > div.csc-default .csc-textpic-imagewrap img{
	width:100% !important;
	height:auto !important;
	max-height:230px !important;
}


@media only screen and ( min-width: 1001px) {

	
	article {
		padding-left: 2px !important;
	}
	
	section {
		padding-left: 4px !important;
	}
	/** Suche Fix
	 * 	
	 */
	
		
	form#eingabeform {
		width: 640px;
		margin: 0 auto;
		padding: 0px;	
	}
	
	.formleft, .formright {
		margin: 0; padding: 0; border: 0;
		width: 300px;
		float: left;
	}
	
	div.news-list-view div.news-item:nth-child(2) {
		position: relative !important;
		left: 103px !important;
		
	}
	
	div.news-list-view div.news-item:nth-child(3) {
		position: relative !important;
		left: 206px !important;
		
	}
	
	/** Contact Positionierung
	 * 	
	 */
	
	.ctright {
		position: relative;
		left: 108px;
	}
	
	.tiright {
		position: relative;
		left: 124px;
	}
	
	p.contact {
		width: 388px;
	}
	
	/* Others */
	
	
	span#copy {
		position: relative;
		left: 20px;
	}

	div#shortcodeswrap {
		width: 994px;
		margin: 0 auto;
		padding: 40px 0 ;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
	}
	
	.scmiddle { position: relative; left: 90px; }
	
	.sclast { position: relative; left: 180px; }

	#burger {
		display: none;
	}
	
	.searchbox-button {
		position: relative;
		top: 8px;
		left: 11px;
	}
	
	
	div#search {
		background: none;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
		/*position: relative;
		left: 580px;*/
		position:absolute;
		right:-8px;
		top:-17px;
		z-index: 50;
		border-radius: 2px;
		padding: 4px;
		width: 255px;	
	}
	div#search form {
		height:	35px;
	}
	
		
	div#scrollup_button {
		

		margin: 0;
		padding: 0;
		width: 52px;
		/*height: 29px;*/
		background: rgba(0,0,0,0.0) url(../images/footer_button.png) no-repeat center center;
	}
	
	#scrollup_button:hover {
		

		margin: 0;
		padding: 0;
		width: 52px;
		/*height: 29px;*/
		background: rgba(0,0,0,0.0) url(../images/footer_hover.png) no-repeat center center;
	}
		
		
	div#menu {
		width: 994px;
		height: 89px;
		background-image: url(../images/head_navi_bg.png);
		margin: 0 auto;
		padding: 0;
		z-index: 1000;
		position: relative;
		top: 0px;
	}
	
	div#nav {
		width:100%;
		box-sizing:border-box;
		padding: 23px 70px 15px 70px;
		height: 80px;
		float:left;
		text-transform: uppercase;
		font-family: "Oswald Bold", Helvetica, sans-serif;
		font-weight: bold;
		font-size: 1.2em;
		vertical-align: bottom;
	}
	
	div nav {
		padding-top:16px;	
	}
	/** DIV NAV
 * Alles was mit der Navigation zu tun hat	
 * **/

	div#nav img {
		position: relative;
		float: left;
		left: -4px;
	}
	
	div#nav ul {
		list-style-type: none;
		margin: 0 0 0 180px;
		padding: 0;
	}
	
	div#nav ul li {
		margin: 0 0 0 25px;
		display: inline;
	}
		
	div#slider {
		width: 994px;
		position: absolute;
		margin: 0 auto 0 auto;
		vertical-align: bottom;
		color: #fff;
		font-size: 1.2em;
		left: -4px;
		opacity:0;
	}
	
	div.contentwrapper {
		margin: 0 40px 0 70px !important;
		padding: 0px;
		display: block;
	}
	#slider > .contentwrapper {
		margin:0 !important;	
	}
	
	
/** Footer
 * Copyright Information	
 * 3 geteilt - fÃ¼r schrÃ¤ge Kanten l/r
 */

	div#f_left {
		width: 66px;
		height: 78px;
		background-image: url(../images/footer_left.png);
		float: left;
	}
	div#f_right {
		width: 64px;
		height: 78px;
		background-image: url(../images/footer_right.png);
		float: right;
	}
	
	div#footer {
		clear: both;
		width: 1016px;
		height: 78px;
		margin: 0 auto 0 auto;
		color: #fff;
		padding: 0;
		position:relative;
	}
	
	div#footer_text {
		position: static;
		left: 66px;
		clear: none;
		font-size: 1.4em;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
		font-family: "Oswald", Arial, sans-serif;
		background: black;
		height: 78px;
		width: 886px;
		vertical-align: bottom;
		line-height: 78px;
		float: left;
	}
	
	.scrollup {
		position:absolute;
		right:6px;
		margin-top:-1px;
	}
	.scrollup div {
		height:30px;	
	}
		/** DIV MAIN
 * Intro Text und so weiter	
 * **/
		
	div#main {
		margin: 0;
		padding: 0;
		background: #fff;
		width: 100%;
	}
	
	div#mainwrap {
		margin: 0 auto;
		padding: 40px 0;
		width: 994px;
		text-align: left;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
	}
	
	/** BOTTOM
	 * 	
	 */
	
	div#bottom {
		width: 100%;
		background: #fff;
	}
	
	div#bottom-inner {
		padding: 20px 0;	
		margin: 0 auto;
		width: 994px;
	}
	
	input.searchbox-sword {
		float: left;
		position: relative;
		top: 8px;
		left: 26px;
	}
	
	.sb_shadow {
		opacity: 1;
		color: rgba(0,0,0,0);
		font-size: 1px;
		position: relative;
		top: -23px;
		left: 30px;
		z-index: -100;
		height: 21px;
		width: 167px;
	
	}
}
/**
 * 800 - 1000
 * Responsive
 * Version
 */

@media only screen and (max-width: 1000px) and (min-width: 750px)  {
	
	#c64 > div.csc-default {
		width:100% !important;
		margin-right:0;	
	}
	#c64 > div.csc-default .csc-textpic-imagewrap {
		width:220px;	
	}
	
	.sb_shadow {
		display:none;
		opacity: 1;
		color: rgba(0,0,0,0);
		font-size: 1px;
		position: relative;
		top: 13px;
		left: 37px;
		z-index: -100;
		height: 21px;
		width: 167px;
		background-color: rgba(0,0,0,0.33);
	}

	input.searchbox-sword {
		float: left;
		position: relative;
		left: 32px !important;
		top: -1px !important;
	}
	
	div.news-list-view div.news-item {
		left: 0px !important;
	}
	.formleft, .formright {
	
		width: 326px;
		float: none;
	}
			
	div#shortcodeswrap {
		width: 100%;
		margin: 0 auto;
		padding:0;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
	}
	
	#burger {
		display: none;

	}
	
	.searchbox-button {
		position: relative;
		top: -1px;
		left: 0px;
		float: right;
	}
	
	div#search {
		background: none;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
		position: absolute;
		right: 10px;
		top: 44px;
		z-index: 50;
		border-radius: 2px;
		padding: 4px;
		width: 255px;	
	}

	
	div#scrollup_button {
		position: absolute !important;
		bottom: 8px !important;
		right: 28px !important;
		margin: 0;
		padding: 0;
		width: 52px;
		height: 29px;
		background: rgba(0,0,0,0.0) url(../images/footer_button.png) no-repeat center center;
		float: right;
	}
	
	#scrollup_button:hover {
		background: rgba(0,0,0,0.0) url(../images/footer_hover.png) no-repeat center center;
	}
	
	div#menu {
		width: 100%;
		min-height: 49px;
		background-color: rgba(0,0,0,0.0);
		background-image: url(../images/head_navi_bg_5px.png);
		background-repeat: repeat-x;
		background-position: bottom;
		margin: 0;
		padding: 0;
		z-index: 1000;
		position: relative;
		top: 0px;
		font-size: 0.9em;
	}
	
	div#nav {
		padding: 8px 15px 0 15px;
		height: 53px;
		line-height: 1.2em;
		position: relative;
		text-transform: uppercase;
		font-family: "Oswald", Helvetica, sans-serif;
		font-weight: bold;
		font-size: 1.15em;
		vertical-align: bottom;
	}
	
/** DIV NAV
 * Alles was mit der Navigation zu tun hat	
 * **/



	div#nav img {
		margin: 0;
		padding: 0;
	}
	
	div#nav ul {
		position: relative;
		top: 20px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align:right;
	}
	
	div#nav ul li {
		margin: 0 0 0 25px;
		display: inline;
	}


/** Footer
 * Copyright Information	
 * 3 geteilt - fÃ¼r schrÃ¤ge Kanten l/r
 */

	div#f_left {
	
		width: 20px;
		height: 48px;
		background-color: #000000;
		float: left;
		display:none;
	}
	div#f_right {

		width: auto;
		height: 48px;
		background-color: #000000;
		float: right;
		display:none;
	}
	
	div#footer {
		font-size: 18.7167px !important;
		clear: both;
		width: 100%;
		height: 55px;
		margin: 0;
		background-color: #000000;
		color: #fff;
		padding: 0;
	}

	div#footer_text {
		padding: 15px 20px 10px 20px; 
		position: absolute;
		left:0;
		clear: none;
		font-size: 1.1em;
		font-family: "Oswald", Arial, sans-serif;
		background-color: #000000;
		height: auto;
		width: 100%;
		vertical-align: bottom;
		box-sizing:border-box;
		
	}
	
	div#slider {
		width: 100%;
		position: relative;
		margin: 0 0 0 0;
		vertical-align: bottom;
		color: #fff;
		font-size: 1.0em;
	}
	#slider {
		left:0 !important;
		margin-left:0 !important;	
	}
	
	/** DIV MAIN
 * Intro Text und so weiter	
 * **/
		
	div#main {
		margin: 0;
		padding: 0;
		background: #fff;
		width: 100%;
	}
	
	div#mainwrap {
		margin: 10px auto 10px auto;
		width: 100%;
		padding: 20px;
		text-align: left;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
	}


/** button **/
	
	div.button-slider {
		margin: 20px 0 0 0 !important;
		position: relative !important;
		z-index: 201;
	}
	
	div.sc-item {
		min-height: 220px;
		float: none !important;
		padding: 0 !important;
		margin: 0 auto !important;
	}
	
	div.news-item {
		width: 95% !important;
		float: none !important;
		margin: 0 auto 20px 0 !important;
	}
	
	div.contact {
		width: 100% !important;
		float: none !important;
		margin: 0 auto 20px 0 !important;
	}
	
	div.contact-button {
		margin: 10px auto !important;
		
	}
	
	div.contact p {
		padding: 10px 0 !important;
	}		
	
	div.team-item {
		float: none !important;
		margin: 0 auto 20px auto !important;
		min-width: 300px !important; 
		width: 100% !important;
	}

	
	/** BOTTOM
	 * 	
	 */
	
	div#bottom {
		width: 100%;
		background: #fff;
	}
	
	div#bottom-inner {
		padding: 20px;	
		margin: 0 auto;
		width: 100%;
		box-sizing:border-box;
	}

	
	div.container {
		width: 100% !important;
	}
	
	h2 {
		margin: 0 20px 10px 0px !important;
	}
	.col-2 {
	width:100%;
	box-sizing:border-box;
	margin:0 0 40px 0;
	text-align:left;
	position:relative;	
}
.col-2.last {
	margin-right:0;	
}
.col-2 div.button-team {
	position:absolute;
	top:110px;
}

}



@media only screen and (max-width: 749px) {
	
	
	#c64 > div.csc-default {
		width:100% !important;
		margin-right:0;	
	}
	#c64 > div.csc-default .csc-textpic-imagewrap {
		width:220px;	
	}
	
	div#footer {
		height: 52px !important;
	}
	
	table.fahrzeuge input[type=text], table.fahrzeuge select {
		width: 180px;
		position: relative;
		min-width: 120px;
	}

	#iframemeldung {
		display: block !important;
		background-color: #ccc;
		border: 1px solid #aaa;
		margin: 20px;
		padding: 10px;
	}
	
	iframe {
		display: none;
	}
	
	.formleft, .formright {
		
		width: 326px;
		float: none;
	}
	
	div#shortcodeswrap {
		width: 100%;
		margin: 0 auto;
		padding: 40px 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	#burger {
		position: absolute;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		right:10px;
		line-height: 1.2;
		vertical-align: middle;
		padding:5px 8px;
		cursor: pointer;
	}
	#burger:hover span {
		background:#b00908;
	}
	
	#mainnavi {
		display:none;	
	}
	
	/*ul:hover .navitem {
		visibility: visible;
	}*/
	

	#burger span {
		display: block;
		width: 19px;
		height: 3px;
		margin: 4px 0;
		background-color: #e3000b;
		z-index: 59;
	}
	
	.searchbox-button {
		position: relative;
		top: 0px;
		left: 0px;
		float: right;
	}
	nav {
		text-align:right;
		z-index:300;
	}
	div#search {
		display: none;
		background: none;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
		position: relative;
		left: 10%;
		top: 30px;
		z-index: 10;
		border-radius: 2px;
		padding: 4px;
		width: 255px;	
	}

	
	div#scrollup_button {
		position: absolute !important;
		bottom: 8px !important;
		right: 28px !important;
		margin: 0;
		padding: 0;
		width: 52px;
		height: 29px;
		background: rgba(0,0,0,0.0) url(../images/footer_button.png) no-repeat center center;
		float: right;
	}
	
	
	div#menu {
		width: 100%;
		position: relative;
		top: 0px;
		min-height: 49px;
		background-color: rgba(0,0,0,0.0);
		background-image: url(../images/head_navi_bg_5px.png);
		background-repeat: repeat-x;
		background-position: bottom;
		margin: 0;
		padding: 0;
		z-index: 310;
		font-size: 0.9em;
	}
	
	div#nav {
		margin: 0 ;
		padding:8px 15px 0 15px;
		height: 53px;
		line-height: 1.3em;
		text-transform: uppercase;
		font-family: "Oswald", Helvetica, sans-serif;
		font-weight: bold;
		font-size: 1.2em;
		vertical-align: bottom;
		z-index: 311;
	}
	
/** DIV NAV
 * Alles was mit der Navigation zu tun hat	
 * **/

	div#nav img {
		margin: 0;
		padding: 0;
	}

	div#nav ul {
		position: absolute;		
		top: 52px;
		left:0px;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
		width: 100%;
		z-index:350;
	}
	
	div#nav ul li a {		
		margin: 0;
		padding: 8px 15px !important;
		display: block;
		background-color: #fff;
		border-top: 1px solid #ccc;
		/*width: 100%;*/
	
	}
/** Footer
 * Copyright Information	
 * 3 geteilt - fÃ¼r schrÃ¤ge Kanten l/r
 */

	div#f_left {

		width: 0px;
		height: 48px;
		background-color: #000000;
		float: left;
		display:none;
	}
	div#f_right {

		width: 0px;
		height: 48px;
		background-color: #000000;
		float: right;
		display:none;
	}
	
	div#footer {
		clear: both;
		width: 100%;
		height: 78px;
		margin: 0;
		background-color: #000000;
		color: #fff;
		padding: 0;
	}

	div#footer_text {

		padding: 15px 20px 10px 20px; 
		position: relative;
		left: 0px;
		clear: none;
		font-size: 1.1em;
		font-family: "Oswald", Arial, sans-serif;
		background-color: #000000;
		height: auto;
		width: 100%;
		vertical-align: bottom;
		box-sizing:border-box;
		
	}

	
	div#slider {
		width: 100%;
		position: relative;
		margin: 0 0 0 0;
		vertical-align: bottom;
		color: #fff;
		font-size: 1.0em;
	}
	
	/** DIV MAIN
 * Intro Text und so weiter	
 * **/
		
	div#main {
		margin: 0;
		padding: 0;
		background: #fff;
		width: 100%;
	}
	
	div#mainwrap {
		margin: 5px auto 5px auto;
		width: 100%;
		padding: 20px;
		text-align: left;
		box-sizing: border-box;
		 -moz-box-sizing: border-box;
	}
	
	div#mainwrap img{
		float: none !important;
		clear: both !important;
	}
	
	
/** button **/
	#slider {
		left:0 !important;
		margin-left: 0 !important;
		position:relative !important;
	}
	div.button-slider {
		margin: 20px 0 0 0 !important;
		position: relative !important;
		z-index: 201;
	}
	
	div.sc-item {
		min-height: 220px;
		float: none !important;
		padding: 0 !important;
		margin: 0 auto !important;
		position: relative;
	}
	
	div.news-item {
		width: 95% !important;
		float: none !important;
		margin: 0 auto 20px 0 !important;
	}
	
	div.contact {
		width: 90% !important;
		float: none !important;
		margin: 0 auto 20px auto !important;
	}	
	
	div.contact p {
		padding: 10px 0 !important;
	}	
	
	div.contact-button {
		margin: 5px auto !important;
	}
		
	div.team-item {
		float: none !important;
		margin: 0 auto 20px auto !important;
		min-width: 300px !important;
		width: 100% !important;
	}
	
/** BOTTOM
	 * 
	 */
	
	div#bottom {
		width: 100%;
		background: #fff;
	}
	
	div#bottom-inner {
		padding: 20px;	
		margin: 0 auto;
		width: 100%;
		box-sizing:border-box;
	}
	
	div.container {
		width: 100% !important;
	}
	
	h2 {
		margin: 0 20px 10px 0px !important;
	}
	.col-2 {
	width:100%;
	box-sizing:border-box;
	margin:0 0 40px 0;
	text-align:left;
	position:relative;	
}
.col-2.last {
	margin-right:0;	
}
.col-2 div.button-team {
	position:absolute;
	top:110px;
}

	
}

@media only screen and (max-width: 480px) and  (orientation: landscape) {
	
	
	#c64 > div.csc-default {
		width:100% !important;
		margin-right:0;	
	}
	#c64 > div.csc-default .csc-textpic-imagewrap {
		width:220px;	
	}
	
	div#header {
		height:100% !important;
		background-size: auto !important;
		min-width: 320px !important;
  		min-height: 420px !important;
		/*background:url('http://dev.mt-autoboerse.de/fileadmin/user_upload/startseite.jpg') center no-repeat !important;*/
		background-attachment:fixed;
		background-position:center;
		background-size:cover;
	}
	.sliderimg {
		display:none;	
	}
	
	div#nav ul {
		right: 8px !important;
	}
	
}

@media only screen and (max-width: 480px) and  (orientation: portrait) {
	
	
	#c64 > div.csc-default {
		width:100% !important;
		margin-right:0;	
	}
	#c64 > div.csc-default .csc-textpic-imagewrap {
		width:220px;	
	}
	
	div#header {
		height:100% !important;
		background-size: auto !important;
		min-width: 320px !important;
  		min-height: 420px !important;
		/*background:url('http://dev.mt-autoboerse.de/fileadmin/user_upload/startseite.jpg') center no-repeat !important;*/
		background-attachment:fixed;
		background-position:center;
		background-size:cover;
	}
	.sliderimg {
		display:none;	
	}
	
	div.contact-button {
		background-image: url(../images/big_button_ip.png) !important;
		width: 280px !important;
		height: 56px !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-size: 1.4em !important;
		padding: 10px 0 !important;

	}
	
	p {
		max-width: 100% !important;
	}
	
	.team-item img {
		width: 280px !important;
		height: auto !important;
	}
	
	div.button-team {
		left: 20px !important;
	}
	
	div#scrollup_button {
		display: none !important;
	}
	
	div#nav ul {
		right: 8px !important;
	}
	
	legend {
		display: none !important;
	}
	
	.csc-form-5 ol {
		position: relative; left: -250px;
		text-align: center;
	}
	
	textarea#field-8 {
		max-width: 280px;
	}
	
	#eingabeform select , #eingabeform input[type=text] {
		width: 180px !important;
	}
	
}

@media only screen and (min-width: 750px) {
	div#buttonfzsuche {
		clear: both;
		display: block;
		width: 222px !important;
		position: relative;
		left: 209px; 
	}
}

div#shortcodeswrap .contentwrapper > .csc-default {
	padding-top:40px;
	padding-bottom:40px;	
}
div#shortcodeswrap .contentwrapper > .csc-default:after {
	content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
div#shortcodeswrap {
	padding:0;	
}

/** Images in Artikeln
 * 	
*/

.news-image img {
	max-width: 220px;
	max-height: 220px;
} 


.contentwrapper {
	margin: 0;
}


/** Overlay **/
.overlay {
	width: 100%;
	/*min-height: 300px;*/
	height: 100%;
	margin: 0; padding: 0;
	/*background-image: url(../images/gray50_8.png);*/
	background-repeat: repeat;
	background-attachment: fixed;
	position: relative; 
}
	

div#header {
	top:0px; left: 0px;
	height: 100vh;
	width: auto;
	min-width: 100%;
  	min-height: 100vh;
	background-image: url(../images/wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
	background-attachment: fixed;
	position: relative;
	
	@media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}
@media only screen and (min-width: 480px) {
	div#header {
		background:#FFFFFF !important;
	}
}
div#slider p {
	
	margin-top:10px;
}
div#slider p {
	background:#FFFFFF;
	padding:0 10px;
	color:#000000;	
	display:inline !important;
}
#slider h2 {
	display:block;	
	font-size:2.1em;
	border-bottom:none !Important;
}
#slider h2 span {
	width: 90vw;
	text-transform: uppercase;
	text-shadow: 2px 0px 6px #000000;
	background:#e3000b;
	padding:0 10px;
	color:#FFFFFF;
	font-family:'Oswald Light', Arial, sans-serif;
}

div.button-slider {
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	margin: 0;
	height: 50px;
	width: 250px;
	background: rgba(0,0,0,0.0) url(../images/slide_button.png) no-repeat center center;
	text-align: center;
	float: right;
}

.button-slider:hover {
	background: rgba(0,0,0,0.0) url(../images/slide_button_h.png) no-repeat center center;
}

div.button-slider a {
	line-height: 45px;
	display: block;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	font-size:1.3em;
}

/**
 * 	Shortcodes
 */
#tx_indexedsearch input[type=text], #tx_indexedsearch select {
	width: 180px;
	height: 30px;
	border: 1px solid #e3000b !important;
	border-radius: 2px;
	box-shadow: 3px 3px 1px #ccc;
	margin: 3px;
	padding: 2px;
}

/**
 * 	
 * CSC Teil
 */

.fieldset-subgroup {
	height: 80px !important;	
}

.fieldset-subgroup label {
	margin: 0px !important;
	padding: 0px !important;
	width: 120px !important;
}

.fieldset-subgroup ol {
	position: relative !important;
	top: -30px !important;
	left: 4px;
	padding: 0px !important;
}

.fieldset-subgroup ol li {
	margin: 10px 0 !important; padding: 0 !important;
}

.csc-mailform {
	font-size: 18.71px;
}

.csc-mailform label {
	display:block;
	height: auto;
	margin: 0px;
	padding: 3px 0;
	vertical-align: bottom !important;	
}


.csc-mailform input[type=text], .csc-mailform  select {
	width: 180px;
	height: 30px;
	border: 1px solid #e3000b !important;
	border-radius: 2px;
	box-shadow: 3px 3px 1px #ccc;
	margin: 3px;
	padding: 2px;
}

.csc-mailform textarea {
	border: 1px solid #e3000b !important;
	border-radius: 2px;
	box-shadow: 3px 3px 1px #ccc;
	margin: 3px;
	padding: 2px;
}

.csc-form-5 legend {
	position: relative;
	top: 5px;
	margin: 3px;
}

.csc-form-5 li {
	margin: 0;
	padding: 0;
}

.csc-textpic-image img {
	width: 300px !important;
	height: auto !important;
}

input[type=submit] {
	padding: 0 0 4px 0;
	margin: 20px 0 0 0 !important;
	border: 0;
	height: 41px;
	width: 222px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: rgba(1,1,1,0.0) url(../images/news_button.png) no-repeat center center;
	text-align: center !important;
	color: #fff;
	font-family: "Oswald", Arial, sans-serif;
	font-size: 18.7167px !important;
	vertical-align: middle !important;
	cursor: pointer;
	font-weight: 400 !important;
}

input[type=submit]:hover {
		background: rgba(1,1,1,0.0) url(../images/news_hover.png) no-repeat center center;
}

.csc-form-3 {
	position: relative;
	top: 0px;
}

.csc-form-2 label, .csc-form-3 label , .csc-form-4 label  , .csc-form-8 label 
{
	position: relative;
	top: 5px;
}

em {
	color: #e3000b !important;
	font-size: 0.8em !important;
}

ol {
	list-style: none;
}

#tx_indexedsearch {
	font-size: 1.2em !important;
}

#tx_indexedsearch td {
	vertical-align: bottom;
}

div#shortcodes {
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
   	background-image: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff !important;
	height: auto;
}

div.container {
	margin: 0 auto 0 auto;
	width: 994px;
	text-align: center;
}

div#shortcodes a {
	text-decoration: none;
	color: #fff;
}

div.sc-item {
	float: left;
	width: 226px;
	margin-left: 5px;
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	text-align: left;

}

/** Bottom Content
 * 	
 */


div.news-item {
	float: left;
	width: 220px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: left;
}


div.news-item img {
	max-width: 220px;
	height: auto;
	margin: 0;
}

div.news-image {
	min-height: 174px;
}

div.button-news {
	padding: 8px 10px 2px 10px;
	margin: 0;
	height: 31px;
	width: 202px;
	background: url(../images/news_button.png) no-repeat center center;
	text-align: center;
	position: relative;
	top: -30px;
	left: 20px;
	color: #fff;
	font-size: 1.1em;
}

div.button-news:hover {
	background: url(../images/news_hover.png) no-repeat center center;
}
	
div.button-news a {
	text-decoration: none;
	color: #fff;
}

/**
 * 	Bildwechsel in Shortcodes
 */

div.lupe a {
  background-image: url(../images/lupe_trans.png);
  background-repeat: no-repeat;
  display: block; 
  width: 226px; 
}
div.lupe img {
  display: block; 
  width: 226px; 
  border: 0;
  visibility: hidden;
  margin-bottom:20px;
}
div.lupe a:hover img {
  visibility: visible;
}

div.auto a {
  background-image: url(../images/facebook_trans.png);
  background-repeat: no-repeat;
  display: block; 
  width: 226px; 

}
div.auto img {
  display: block; 
  width: 226px; 
  height: 82px; 
  border: 0;
  visibility: hidden;
  margin-bottom: 20px;
}
div.auto a:hover img {
  visibility: visible;
}

div.fragezeichen a {
  background-image: url(../images/kontakt_trans.png);
  background-repeat: no-repeat;
  display: block; 
  width: 226px; 
  height: 82px;
  margin-bottom: 20px;
}
div.fragezeichen img {
  display: block; 
  width: 226px; 
  height: 82px; 
  border: 0;
  visibility: hidden;
  margin-bottom: 20px;
}
div.fragezeichen a:hover img {
  visibility: visible;
}

/**
 * 	Unternehmensseite Kontakt
 */

div.contact {
	float: left;
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	margin: 20px 0;
	width: auto;
	text-align: center;
}

div.contact-button {
	background-image: url(../images/big_button.png);
	width: 386px;
	height: 77px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 0 20px 2px;
	font-size: 1.8em;
	padding: 20px 0;
	text-align: center;
}


/** Unternehmen -> Team
 * 	
 */
div.team-item {
	float: left;
	width: 370px;
	margin: 0 0 20px 0;
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	text-align: left;
}

div.team-item img {
	width: 300px;
	margin: 0 auto !important;
}

div.button-red {
	padding: 8px 10px 2px 10px;
	margin: 0;
	height: 31px;
	width: 202px;
	background-image: url(../images/news_button.png);
	text-align: center;
	position: relative;
	top: -20px;
	left: 100px;
	color: #fff;
	font-size: 1.1em;
}

div.button-team a {
	text-decoration: none;
	color: #fff;
}

/** Unsere Autos -> Formular
 * 	
 */

input#mailformsubmit {
	padding: 0;
	margin: 0;
	border: 0;
	height: 41px;
	width: 222px !important;
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	background: rgba(1,1,1,0.0) url(../images/news_button.png);
	text-align: center;
	color: #fff;
	font-size: 1.1em;
}

input {
	margin: 5px 0 !important;
}

table.fahrzeuge {
	width: 326px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
}

span.label {
	font-weight: bold;
	margin-right: 4px;
	position: relative;
	text-align: right !important;
	left: 20px;
}

table.fahrzeuge input[type=text] {
	position: relative;
	top: 0px;
	width: 175px;
	height: 26px;
	border: 1px solid #e3000b;
	border-radius: 2px;
	box-shadow: 3px 3px 1px #ccc;
}

table.fahrzeuge select {
	width: 180px;
	height: 30px;
	border: 1px solid #e3000b;
	border-radius: 2px;
	box-shadow: 3px 3px 1px #ccc;
}

table.fahrzeuge tr {
	height: 50px;
	vertical-align: middle;
}

.label-modell {
	top: 0px !important;
}

iframe {
	width: 640px;
	margin: 0 0 0 46px !important; 
	background-color: #fff;
}

a.anchor {
	height: 0px; width: 0px; visibility: hidden;
	margin: 0; padding: 0;
}

/** Search Box
 * 	*/

.always {
	opacity: 1 !important;
}


div#sbword {
	
	padding: 10px 0 0 0;
}

input.searchbox-sword {

	border-left: 1px solid #E3000B;
	border-top: 1px solid #E3000B;
	border-bottom: 1px solid #E3000B;
	border-right: 10px solid #E3000B !important;
	background-color: #e3000b;
	color: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*border: 0px solid #000;*/
	height: 26px;
	
	padding: 2px;
	font-family: 'Oswald Light', Arial, sans-serif; 
	border-radius: 1px;
	font-size: 0.95em;
	letter-spacing: 0.1em;
	width: 180px;
	cursor: default;

	/*-webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.33);
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.33);*/
}

.focus {
	cursor: auto !important;
}


#eingabeform label {
	
	width: 100px;
}

a#logo {
	float: left;
	display: inline-block;
	width: 160px;
	height: 35px;
}

.news-item a {
	/*display: block;
	position: relative;*/
}




.no-wrap {
	white-space: nowrap;
}


.csc-mailform {
	font-size: 15.45px !important;
}	

.imagegalery {
	margin-bottom:30px;	
}
.imagegalery a {
	width:196px;
	height:196px;
	border:2px solid #FFFFFF;
	overflow:hidden;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	transition:all ease-in-out 0.15s;
	-moz-transition:all ease-in-out 0.15s;
	-webkit-transition:all ease-in-out 0.15s;
	display:inline-block;
	
}
.imagegalery a:hover { 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(227,0,11,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(227,0,11,1);
box-shadow: 0px 0px 5px 0px rgba(227,0,11,1);
}
.imagegalery a img {
	height:100% !important;
	width:auto !important;	
}
.imagegalery .csc-textpic-imagewrap {
	width:auto !important;	
}
.imagegalery div.csc-textpic-center .csc-textpic-imagewrap, div.csc-textpic-center figure.csc-textpic-imagewrap,
.imagegalery div.csc-textpic, div.csc-textpic div.csc-textpic-imagerow, ul.csc-uploads li{
	overflow:visible;	
}
.fullwidthimage .csc-textpic-imagewrap {
	width:100% !important;
	margin-bottom:10px;	
}
.fullwidthimage img {
	width:100% !important;
	height:auto !important;	
}
#c9 > .contentwrapper {
	position:relative;	
}
#iframeloader {
	text-align:center;	
	background:rgba(255,255,255,0.7);
	width:640px;
	height:800px;
	position:absolute;
	z-index:200000;
	bottom:0;
	margin-left:46px;
}
#iframeloader img {
	margin-top:350px;	
}

.fullwidthimage .csc-textpic-image img {
	width:100% !important;
	height:auto	!important;
}
b, strong {
	font-family:"Oswald", Arial, sans-serif;
}
.contenttable, ul {
	font-size:1.0725em;	
}
.contenttable thead th, .contenttable tfoot td{	
	font-family:"Oswald", Arial, sans-serif;
	background:#e3000b;
	color:#FFF;
	padding:5px 10px;
}
.contenttable-0 td {
	width:25%;	
	padding:5px 10px;
}
.contenttable tbody tr.tr-even td {
	background:#CCC;	
}

